html{
    padding:0px;
    margin:0px;
}

body{
    padding:0px;
    margin:0px;
}

.header{
    height: 60px;
    line-height: 30px;
    padding:20px;
    background-color: lightsteelblue;
}

.h1{
    padding:20px;
    margin:0px;
    float:left;
}

.navigation{
    list-style: none;
    top:-70px;
    position: relative;;
    float: right;
}

li{
    display: inline-block;
    margin-left:20px;
    float: left;
}

a{
    text-decoration: none;
    color:black;
}

.main{
    margin:0px;
    position: relative;
    float:left;
    top:-60px;
}

.content{
    width:70%;
    float: left;
    background-color: #EDEDED;
    position: relative;
    min-height: 500px;
}

.sidebar{
    width:30%;
    float: left;
    background-color: #4E4E4E;
    position: relative;
    min-height: 500px;
    margin:0px;
    color: white;
}

p{
    margin:20px;
}

.blog-post{
    margin: 10px;
    background-color: white;
    border-color:lightgray;
    padding:10px;
    border-style:solid;
    border-radius: 5px;
}

.pic{
    float: left;
    margin-right: 10px;
    margin-bottom:10px;
}